body{
 background:url("peru.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 height: 100%;
 background-color:black;
 padding-bottom: 60px;
}

body {
 margin: 0 auto; 
 font-size: 1.5em; 
 line-height: 2.0em;
 font-family: 'Courier', monospace; 
 color: white; 
 font-weight: 300;
}


#currentPost{ 
   max-width:65%;
   position: absolute;
   right: 75px;
   top:10%;
} 

#lastestPost{
  position: absolute;
  left:5px;
}
ul {
  list-style-type: none;
  background-color: black;
  width: 100%;  
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1 {
font-size: 100%;
}


button1 {
  transition-duration: 0.4s;
}

button1:hover {
  background-color: turquoise; 
  color: white;
}

button2 {
  transition-duration: 0.4s;
}

button2:hover {
  background-color: blue; 
  color: white;
}

button3 {
  transition-duration: 0.4s;
}

button3:hover {
  background-color: purple; 
  color: white;
}

button4 {
  transition-duration: 0.4s;
}

button4:hover {
  background-color: violet; 
  color: white;
}

footer {
position: fixed;
left:0;
bottom:0px;
width: 100%;
background-color: black;
text-align: center;
font-size: 30px;
height:40px;
}

@media screen and (max-width:800px) {
 
  body{
   background:url("monkey.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color:black;
  }
  #currentPost{ 
   max-width:65%;
   position: relative;
   left: 0px;
 } 
}