body{
 background:url("peru.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}


#currentPost{ 
   max-width:50%;
   position: absolute;
   right: 50px;

} 

#lastestPost{
  position: absolute;
  left:5px;

}